#### 학생 성적 데이터
1. 자료 분석 및 시각화(eda)
2. 결측치를 식별하고 결측치를 예측
3. 범주형 변수 인코딩
4. 데이터 분할
5. svm, xgboost, randomforest 3개의 알고리즘을 사용하여 어떠한 모델이 좋은가 판단

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("./data/student_data.csv")
df.head()

,school,sex,paid,activities,famrel,freetime,goout,Dalc,Walc,health,absences,grade,G1,G2
0,GP,F,no,no,4.0,3.0,4.0,1.0,1.0,3.0,6.0,6,5,6
1,GP,F,no,no,5.0,3.0,3.0,1.0,1.0,3.0,4.0,5,5,5
2,GP,F,yes,no,4.0,3.0,2.0,2.0,3.0,3.0,10.0,8,7,8
3,GP,F,yes,yes,3.0,2.0,2.0,1.0,1.0,5.0,2.0,15,15,14
4,GP,F,yes,no,4.0,3.0,2.0,1.0,2.0,5.0,4.0,9,6,10

### eda

In [5]:
## 데이터의 타입 확인 및 결측치 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   paid        395 non-null    object
 3   activities  395 non-null    object
 4   famrel      394 non-null    float64
 5   freetime    393 non-null    float64
 6   goout       392 non-null    float64
 7   Dalc        391 non-null    float64
 8   Walc        393 non-null    float64
 9   health      391 non-null    float64
 10  absences    392 non-null    float64
 11  grade       395 non-null    int64
 12  G1          395 non-null    int64
 13  G2          395 non-null    int64
dtypes: float64(7), int64(3), object(4)
memory usage: 43.3+ KB

In [6]:
df.isna().sum()

school        0
sex           0
paid          0
activities    0
famrel        1
freetime      2
goout         3
Dalc          4
Walc          2
health        4
absences      3
grade         0
G1            0
G2            0
dtype: int64

In [10]:
## 종속변수 분포 확인
import matplotlib.pyplot as plt
plt.bar(df['grade'].value_counts().index, df['grade'].value_counts().values)
plt.show()
print('학생 성적의 평균:' , df['grade'].mean())

ModuleNotFoundError: No module named 'matplotlib.pypot'